services:
  agent:
    image: ghcr.io/mrgarbonzo/proofofflip/agent:7d857eb83b3a316275dde6e2723a5ad7c125acb6
    ports:
      - "80:${AGENT_PORT}"
    environment:
      - AGENT_NAME=${AGENT_NAME}
      - AGENT_PORT=${AGENT_PORT}
      - DASHBOARD_URL=${DASHBOARD_URL}
      - SOLANA_RPC_URL=${SOLANA_RPC_URL}
      - TEE_PROVIDER=secretvm
      - STORAGE_PATH=/secretvm/data
    volumes:
      - agent-data:/secretvm/data
      - ./crypto/docker_public_key_ed25519.pem:/app/data/pubkey.pem:ro
      - ./crypto/docker_attestation_ed25519.txt:/app/data/quote.txt:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  agent-data:
