services:
  agent:
    image: ghcr.io/mrgarbonzo/proofofflip/agent:37bb4b2db0b11e2eb497afa4d5d385360e8b6587
    ports:
      - "80:3001"
    environment:
      - AGENT_NAME=${AGENT_NAME:-flipbot}
      - SOLANA_RPC_URL=${SOLANA_RPC_URL}
      - TEE_PROVIDER=secretvm
      - STORAGE_PATH=/secretvm/data
    volumes:
      - agent-data:/secretvm/data
      - ./crypto/docker_public_key_ed25519.pem:/app/data/pubkey.pem:ro
      - ./crypto/docker_attestation_ed25519.txt:/app/data/quote.txt:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    env_file:
      - usr/.env

volumes:
  agent-data:
